body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

input:focus {
    outline:none;
}

main {
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-item {
    width: 100%;
    margin-top: 50px;
}

.form-item label {
    position: absolute;
    left: 300px;
    color: #9999FF;
    font-size: 20px;
}

.form-item input {
    width: 400px;
    height: 40px;
    border: solid #CCCCCC 1px;
    border-radius: 0.5rem;
    text-align: center;
}

#username-row {
    border-radius: 0.5rem;
}

#password-row {
    border-radius: 0.5rem;
}

.form-item button {
    width: 320px;
    border-radius: 0.5rem;
}

#title {
    color: #9999FF;
    text-align: center;
}

form {
    text-align: center;
}

#submit-btn {
    background-color: #9999FF;
    font-size: 25px;
}