{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% block css %} {% endblock %}

        <title>timetodo</title>
        <!-- 상속 받은 html파일 상단에 {% load bootstrap4 %} 추가! -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <script src="{% static 'base.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>